* {
  margin: 0;
  padding: 0;
}

.wrapper {
  flex-direction: column;
  display: flex;
}

header {
  background-color: #222;

  display: flex;
  height: 75px;
}
.header-section {
  background-color: #f1e4e6;
  display: flex;
  height: 764px;
}
.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
}
.header-image {
  background-image: url(img/man.png);
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 50%;
}
.header-title {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-column {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}
h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222;
}
h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}
.pink-word {
  color: #f16d7f;
}
.pink-line {
  background-color: #f16d7f;
  height: 92px;
  width: 12px;
}
.header-cover {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
nav {
  justify-content: space-between;
  flex-direction: row;
  /* position: relative; */
  align-items: center;
  display: flex;
  height: 75px;
  width: 100%;
}
.flex-left {
  align-items: center;
  flex-direction: row;
  display: flex;
}

.contact-img {
  margin-right: 33px;
}
/* Меню бокс */
.mega-item {
  position: absolute;
  background-color: #fff;
  
  /* display: none; */
  padding: 37px 100px 79px 50px;
  display: none;
  margin-top: 23px;
  padding-bottom: 53px;
  /* margin-left: 155px; */
}
.mega-box {
  padding: 34px 0 30px 0;
  
}
.mega-box:hover .mega-item{
  display: block;
}
summary {
  display: block;
}

  summary::-webkit-details-marker {
  display: none;
}

summary {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #f16d7f;
  padding-top: 20px;
  padding-bottom: 12px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}

  summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: '';
  padding-right: 0.5em;
}

details[open] > summary::before {
  content: '';
}

.menu-box--style {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding-bottom: 4px;
  font-family: "Lato", sans-serif;
}
/* .pink-box {
 
} */
.mega-link {
  font-family: "Lato", sans-serif;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  font-weight: 400;
  padding: 12px 0px 11px 15px;
}
.mega-link:hover{
  color: #F16D7F;
}
.flex-right {
  display: flex;
  align-items: center;
  position: relative;
  /* padding-bottom: 23px; */
}
img {
  cursor: pointer;
}

/* search form*/
form {
  margin-left: 41px;
}

.searchBox:hover > .searchInput {
  padding: 0 6px;
  width: 240px;
}

.searchBox:hover > .searchButton {
  background: #222;
  color: #2f3640;
}

.searchButton {
  justify-content: center;
  align-items: center;
  background: #222;
  border-radius: 50%;
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  display: flex;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

/* Третий блок */

.catalog-wrappet {
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1165px;
  margin: 0 auto;
}
.catalog-project {
  margin-top: 30px;
  position: relative;
  flex-grow: 1;
}
/* .catalog-image:last-of-type {
  width: 100%;
  
} */
.catalog__text {
  position: absolute;
  display: block;
  z-index: 100;
  left: 103px;
  top: 105px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  font-family: Lato;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  /* left: 0; */
}
.catalog-words {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
.catalog-block {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.parent {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
}
.down-parent {
  left: 491px;
  top: 65px;
}
/* Четвертый блок */
.block-text {
  padding-top: 96px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  align-items: center;
}
.block-text--heading {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}
.block-text--section-text {
  padding-top: 6px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}
/* Пятый блок */
.section-featured{
  max-width: 1165px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 18px;
  justify-content: space-between;
}
.featur_one{
  display: flex;
  flex-direction: column;
  max-width: 360px;
  background-color: #F8F8F8;
  margin-top: 30px;
}
.featur-text{
  margin-top: 25px;
  font-size: 13px;
line-height: 16px;
font-family: "Lato", sans-serif;
font-weight: 400;
}
.featur-content{
  color: #5D5D5D;
  font-weight: 300;
font-size: 14px;
line-height: 17px;
font-family: "Lato", sans-serif;
padding-top: 12px;
}
.featur-price{
  color:  #F16D7F;
  font-size: 16px;
line-height: 19px;
font-weight: 400;
padding-top: 18px;
}
.featur-wrapper{
  padding-left: 18px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.browse-button{
  /* align-items: center; */
  /* display: block; */
  max-width: 1165px;
  display: flex;
  justify-content: center;
  margin-top: 63px;

}
.link-browse{
  text-decoration: none;
}
.product-cart{
  color: #fff;
  border: 1px solid #FF6A6A;
  box-sizing: border-box;
  align-items: center;
  width: 211px;
  padding: 15px 38px;
  font-size: 16px;
line-height: 19px;
font-weight: 400;
background-color: #F16D7F;
}
/* конец кнопки */
.section-icons {
  background-color: #222224;
  display: flex;
  height: 341px;
  
  /* justify-content: space-between; */
  margin-top: 95px;
}
.first-icons{
  display: flex;
  flex-direction: column;
  max-width: 343px;
  justify-content: center;
  align-items: center;
  text-align: center;


}
.car-icons{
  width: 44px;
  height: 31px;
  padding-top: 103px;
  padding-bottom: 28px;
}
.wrapper-icons{
  max-width: 1165px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.car-icons--context{
  padding-top: 16px;
  font-weight: 300;
font-size: 13.972px;
line-height: 17px;
color: #FBFBFB;
padding-bottom: 104px;
}
.car-icons--text{
  font-size: 19.96px;
line-height: 24px;
color: #FBFBFB;
font-weight: 400;
}
/* Квотес секция */
.quotes-section{
  background-image: url(img/photo-subscribe.png );
  height: 448px;
  background-repeat: no-repeat;
  background-size: 100%;

}
.wrap-quotes{
  display: flex;
  flex-direction: row;
  max-width: 1165px;
  justify-content: space-between;

}
.figure-box{
  display: flex;
  flex-direction: column;
  width: 343px;
  justify-content: center;
  /* align-items: center; */
  text-align: center;

}
.figure-image{
  width: 96px;
  height: 96px;
  padding-top: 97px;
}
figcaption{
  padding-top: 30px;
  font-size: 20px;
line-height: 24px;
font-weight: 400;
font-family: "Lato", sans-serif;
color: #222224;

}
.subscribe{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  padding-top: 150px;
}
.promotion{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}
.enter-mail{
  width: 557px;
}
.subscribe-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 39px;
  
  border-radius: 10px;
  width: 356px;
  margin: 0 auto;
  padding-top: 32px;
}
.subscribe-input{
width: 256px;
border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-color: #E1E1E1;
  background-color: #E1E1E1;
}
.submit-btn{
  width: 100px;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: #E05C6E;
  height: 49px;
  color: #fff;
  text-align: center;
  align-items: center;
  font-size: 14px;
line-height: 17px;
display: flex;
font-weight: 400;
padding: 10px;
}
::placeholder{
  padding-left: 22px;
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 14px;
line-height: 17px;
opacity: 0.67;
color: #222224;
}
footer{
  height: 79px;
  background-color: #222224;
  display: flex;
}
.footer-contant{
  display: flex;
  flex-direction: row;
  max-width: 1165px;
  align-items: center;
}
.copy-text{
  pad
}