@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

header {
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
}

.header-section {
  background-color: #f1e4e6;
  height: 764px;
}

.container {
  margin: 0 auto;
  width: 1165px;
}

.header-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-man {
  left: 0;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 16px;
  text-transform: uppercase;
}

.header-brand {
  font-weight: 900;
  font-size: 48px;
  line-height: 57px;
  color: #222;
}

.text-brand {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222;
}

.pink-word {
  color: #f16d7f;
}

.pink-line {
  border-left: 12px solid #f16d7f;
}

.header-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1250px;
}

nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  width: 100%;
}

nav .flex-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-img {
  margin-right: 33px;
}

.contact-img .fa-user {
  font-size: 30px;
  font-weight: lighter;
  color: white;
}

.contact-img .fa-user:hover {
  color: #f16d7f;
}

.contact-img .fa-shopping-cart {
  font-size: 30px;
  color: white;
}

.contact-img .fa-shopping-cart:hover {
  color: #f16d7f;
}

.contact-img .fa-bars {
  font-size: 30px;
  color: white;
}

.contact-img .fa-bars:hover {
  color: #f16d7f;
}

.contact-img .fa-search {
  font-size: 30px;
  color: white;
}

.contact-img .fa-search:hover {
  color: #f16d7f;
}

/* Меню бокс */
.mega-item {
  position: absolute;
  background-color: #fff;
  padding: 37px 1px 79px 50px;
  display: none;
  margin-top: 23px;
  padding-bottom: 53px;
  z-index: 10000;
}

.mega-box {
  padding: 34px 0 30px 0;
}

.mega-box:hover .mega-item {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #f16d7f;
  padding-top: 20px;
  padding-bottom: 12px;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "";
  padding-right: 0.5em;
}

details[open] > summary::before {
  content: "";
}

.menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-box--style {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-box--style .fa-times {
  margin-left: 114px;
  padding-right: 16px;
  margin-top: -16px;
}

.menu-box--style .fa-times:hover {
  color: #f16d7f;
}

.mega-link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  font-weight: 400;
  padding: 12px 0px 11px 15px;
}

.mega-link:hover {
  color: #f16d7f;
}

.flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

img {
  cursor: pointer;
}

/* search form*/
form {
  margin-left: 41px;
}

.searchBox:hover > .searchInput {
  padding: 0 6px;
  width: 240px;
  border-radius: 15px;
}

.searchBox:hover > .searchButton {
  background: #222;
  color: #f16d7f;
}

.searchButton {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222;
  border-radius: 50%;
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: #6f6e6e;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

/* Третий блок */
.catalog-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-project {
  margin-top: 30px;
  position: relative;
  width: 360px;
}

.catalog-project:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 105px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  pointer-events: none;
}

.card-box .card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.box-parent {
  top: 65px;
}

.box-centre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__text {
  font-size: 16px;
  line-height: 19px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}

.catalog-words {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-parent {
  margin-top: 30px;
  width: 100%;
}

.catalog-image {
  width: 100%;
}

/* Четвертый блок */
.item-texts {
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.block-text--heading {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

.block-text--section-text {
  padding-top: 6px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

/* Пятый блок */
.item-box {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item {
  width: 360px;
  position: relative;
  margin-bottom: 30px;
}

.item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item .item-link {
  display: block;
  text-decoration: none;
}

.item-pic {
  width: 100%;
}

.text-box {
  padding: 20px;
}

.text-desc {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #222;
  font-weight: 400;
}

.text-midle {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.text-price {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  font-weight: 400;
  margin-top: 18px;
}

.item:hover .item-pic {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.cart-box {
  display: none;
  position: absolute;
  top: 188px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  pointer-events: none;
}

.cart-box .card-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #fff;
  padding: 10px;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-box .add-text {
  font-size: 14px;
  line-height: 17px;
  color: white;
  margin-left: 11px;
  font-weight: 400;
}

.item:hover .cart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Конец пятого блока */
.but-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.but-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ff6a6a;
  padding: 14px 38px;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f16d7f;
}

.button-text {
  font-size: 14px;
  line-height: 17px;
  color: white;
  margin-left: 11px;
  font-weight: 400;
}

.but-links:hover {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
          box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0, -1em);
          transform: translate3d(0, 0, -1em);
}

/* конец кнопки */
.section-icons {
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 341px;
  margin-top: 95px;
}

.first-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 343px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.first-icons .car-icons {
  width: 44px;
  height: 31px;
  padding-top: 103px;
  padding-bottom: 28px;
}

.first-icons .car-icons--context {
  padding-top: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #fbfbfb;
  padding-bottom: 104px;
}

.first-icons .car-icons--text {
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
  font-weight: 400;
}

.wrapper-icons {
  max-width: 1165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Квотес секция */
.quotes-section {
  background-image: url(img/photo-subscribe.png);
  height: 448px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.wrap-quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.figure-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 343px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.figure-box .subscribe {
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  padding-top: 150px;
}

.figure-box .promotion {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.figure-image {
  width: 96px;
  height: 96px;
  padding-top: 97px;
}

figcaption {
  padding-top: 30px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #222224;
}

.enter-mail {
  width: 557px;
}

.subscribe-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 39px;
  border-radius: 10px;
  width: 356px;
  margin: 0 auto;
  padding-top: 32px;
}

.subscribe-wrapper .subscribe-input {
  width: 256px;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-color: #e1e1e1;
  background-color: #e1e1e1;
}

.submit-btn {
  width: 100px;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: #e05c6e;
  height: 49px;
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  padding: 10px;
}

::-webkit-input-placeholder {
  padding-left: 22px;
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222224;
}

:-ms-input-placeholder {
  padding-left: 22px;
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222224;
}

::-ms-input-placeholder {
  padding-left: 22px;
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222224;
}

::placeholder {
  padding-left: 22px;
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222224;
}

footer {
  height: 79px;
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.copy-righ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.copy-righ .copy-text {
  padding-top: 30px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #fbfbfb;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-top: 24px;
}

.insta {
  height: 32px;
  width: 31px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.insta:hover {
  background-color: #f16d7f;
}

.insta .link-netw {
  text-decoration: none;
}

.insta .fa-facebook-f, .insta .fa-instagram, .insta .fa-pinterest-p, .insta .fa-twitter {
  color: #222;
}

.insta .fa-facebook-f:hover, .insta .fa-instagram:hover, .insta .fa-pinterest-p:hover, .insta .fa-twitter:hover {
  color: white;
}

.insta-fig {
  margin-left: 8px;
}

.pint-fig {
  margin-left: 8px;
}

.twit-fig {
  margin-left: 8px;
}

.content-test {
  height: 148px;
  background-color: #F8F3F4;
}

.bread-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  padding-top: 65px;
}

.bread-blok .bread-arrival {
  color: #f16d7f;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 14px;
  line-height: 16px;
}

ul.breadcrumb li + li:before {
  padding: 1px;
  color: #636363;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #636363;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #f16d7f;
  text-decoration: underline;
}

ul.breadcrumb li:last-of-type {
  color: #f16d7f;
  font-weight: 700;
}

.fiters-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 51px;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  padding-bottom: 61px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.filter-details {
  position: absolute;
  z-index: 1;
  padding: 13px 184px 9px 16px;
  background-color: white;
}

.filter-details:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.filter-details .filter-menu {
  color: #6f6e6e;
}

.filter-details .filter-menu .fa-bars {
  margin-left: 11px;
}

.filter-summary {
  border-left: 5px solid #EF5B70;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  margin-bottom: 18px;
}

.det-trendings {
  padding: 13px 120px 9px 16px;
  margin-left: 407px;
  position: absolute;
  z-index: 1;
}

.sum-trendings {
  color: #6f6e6e;
}

.sum-trendings .fa-bars, .sum-trendings .fa-angle-down {
  margin-left: 11px;
  color: #6f6e6e;
}

.border-trend {
  background-color: white;
  margin-top: 5px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  -webkit-transform: translate3d(0, 0, -1em);
          transform: translate3d(0, 0, -1em);
}

.check-box--trend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.check-box--trend:hover {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.check-box--trend #scales {
  margin-right: 10px;
  color: #6f6e6e;
}

.check-box--trend .label-trend {
  color: #6f6e6e;
}

.check-box--trend .label-trend:hover {
  color: #f16d7f;
}

.size-check {
  padding: 13px 120px 9px 16px;
  margin-left: 580px;
  position: absolute;
  z-index: 1;
}

.price-check {
  padding: 13px 120px 9px 16px;
  margin-left: 681px;
  position: absolute;
  z-index: 1;
}

.pagination-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-box .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  border: 1px solid #EBEBEB;
  padding: 15px 16px;
}

.pagination a {
  color: #EBEBEB;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.pagination a.active {
  color: #f16d7f;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.fa-angle-left, .fa-angle-right {
  color: #222;
}

.slide-section {
  background-color: #F7F7F7;
}

.slide-section .slideshow-container {
  width: 600px;
  position: relative;
  margin: 0 auto;
}

.slide-section .mySlides1 {
  display: none;
}

.slide-section .slide-img {
  vertical-align: middle;
  padding-bottom: 64px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 11px 19px;
  margin-top: -22px;
  color: #222;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(42, 42, 42, 0.15);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover,  */
.prev:hover, .next:hover {
  color: #f16d7f;
}

.prev {
  left: -467px;
}

.next {
  right: -467px;
}

.sector-collection {
  background-color: white;
  width: 1140px;
  margin: 0 auto;
  height: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAEAEA;
  margin-top: -65px;
  padding-left: 292px;
  padding-right: 294px;
}

.sector-collection .colect-title {
  padding-top: 64px;
  text-transform: uppercase;
  color: #f16d7f;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.sector-collection .line-colect {
  margin-top: 12px;
  background-color: #EF5B70;
  height: 3px;
  width: 63px;
}

.sector-collection .name-colect {
  margin-top: 12px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.sector-collection .text-colect {
  margin-top: 48px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #5E5E5E;
  width: 555px;
}

.sector-collection .price-colect {
  margin-top: 32px;
  font-weight: 300;
  color: #EF5B70;
  font-size: 24px;
  line-height: 29px;
  border-bottom: 1px solid #EAEAEA;
  width: 640px;
  padding-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fiters-collection {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.det-collection {
  margin-right: 22px;
}

.size-collection {
  margin-right: 22px;
}

.collection-items--block {
  margin-top: 200px;
}

.menu-tren-colect {
  position: absolute;
}

.add-cart-colection {
  margin-top: 50px;
}

.add-cart-colection .card-links-colect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #f16d7f;
  padding: 14px 55px 14px 23px;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f16d7f;
}

.col-add-tex {
  margin-left: 22px;
}
