@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input {
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
}

.cart__section-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 56px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cart__section-page .cart__sec-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 48%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 65px;
}

.column-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart__img-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hat__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 22px 28px 62px 32px;
}

.close-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.close-cart .solution-cart {
  margin-bottom: 42px;
}

.cart__sec-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 652px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.cart__sec-left:hover {
  -webkit-box-shadow: 0 15px 18px rgba(20, 18, 18, 0.16);
          box-shadow: 0 15px 18px rgba(20, 18, 18, 0.16);
}

.cart__sec-left.cart__sec-left {
  margin-top: 40px;
}

#info_head {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.solution-cart:first-of-type {
  margin-top: 96px;
}

.solution-cart {
  padding-top: 6px;
  color: #575757;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.fa-times {
  padding-left: 10px;
}

.fa-times:hover {
  color: #f16d7f;
  cursor: pointer;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

select {
  padding: 12px 0 15px 16px;
  width: 360px;
  border: 1px solid #A4A4A4;
  margin-top: 21px;
  color: #4A4A4A;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
}

.quote-button {
  padding: 9px 14px;
  margin-top: 24px;
  cursor: pointer;
  color: #4A4A4A;
  font-size: 13px;
  line-height: 16px;
}

.quote-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.shipping {
  font-size: 16px;
  line-height: 18px;
  margin-left: 55px;
  font-weight: 300;
}

.total-blok {
  width: 360px;
  background-color: #F5F3F3;
  margin-top: 57px;
  padding: 39px 34px 42px 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 41px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.total-sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.total-sub {
  color: #4A4A4A;
  font-size: 11px;
  line-height: 13px;
}

.total-text {
  color: #222;
  font-size: 16px;
  line-height: 18px;
  margin-top: 12px;
}

.total-pink {
  padding-left: 30px;
}

.checkout-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 39px;
  padding: 15px 43px 16px 43px;
  background-color: #f16d7f;
  color: white;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.checkout-btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.btn-clear {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-clear .clear01 {
  padding: 16px 40px;
  cursor: pointer;
}

.btn-clear .clear01:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.registr__page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 64px;
}

.registr__page .regitr__form {
  width: 40%;
  margin-left: 0;
  padding-right: 20px;
  padding-right: 96px;
}

.registr__page .regitr__form .registr__submit {
  margin-top: 39px;
  padding: 16px 24px;
  background-color: #f16d7f;
  color: white;
  cursor: pointer;
}

.registr__page .regitr__form .registr__submit:hover {
  -webkit-box-shadow: 0 15px 18px rgba(20, 18, 18, 0.16);
          box-shadow: 0 15px 18px rgba(20, 18, 18, 0.16);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.registr__page .registr__name {
  color: #222224;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
}

.registr__page .fa-arrow-right {
  padding-left: 20px;
}

#reg__name {
  margin-top: 20px;
  border: 1px solid #4A4A4A;
  width: 358px;
  padding: 12px 0 15px 16px;
}

#reg__name::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #B1B1B1;
}

#reg__name:-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #B1B1B1;
}

#reg__name::-ms-input-placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #B1B1B1;
}

#reg__name::placeholder {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #B1B1B1;
}

.registr__radio {
  padding-bottom: 33px;
}

.registr__radio #male {
  margin-top: 31px;
  border: 1px solid #4A4A4A;
  height: 17px;
  width: 17px;
}

.registr__radio #male:last-of-type {
  margin-left: 20px;
}

.registr__radio .reg_male {
  color: #222;
  font-size: 11px;
  line-height: 13px;
}

.registr__name-text {
  margin-top: 15px;
  color: #B1B1B1;
}

.perks {
  font-size: 24px;
  line-height: 29px;
  color: #222;
  font-weight: 300;
}

.perks .head__perks {
  text-transform: uppercase;
}

.perks .text__perks {
  margin-top: 22px;
}

.perks .perks__list {
  list-style-type: none;
  margin-top: 27px;
}

.perks .perks__list .fa-check {
  padding-right: 23px;
  margin-top: 16px;
}

.slide-section {
  background-color: #F7F7F7;
}

.slide-section .slideshow-container {
  width: 600px;
  position: relative;
  margin: 0 auto;
}

.slide-section .mySlides1 {
  display: none;
}

.slide-section .slide-img {
  vertical-align: middle;
  padding-bottom: 64px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 11px 19px;
  margin-top: -22px;
  color: #222;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(42, 42, 42, 0.15);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover,  */
.prev:hover,
.next:hover {
  color: #f16d7f;
}

.prev {
  left: -467px;
}

.next {
  right: -467px;
}

.sector-collection {
  background-color: white;
  width: 1140px;
  margin: 0 auto;
  height: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAEAEA;
  margin-top: -65px;
  padding-left: 292px;
  padding-right: 294px;
}

.sector-collection .colect-title {
  padding-top: 64px;
  text-transform: uppercase;
  color: #f16d7f;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.sector-collection .line-colect {
  margin-top: 12px;
  background-color: #EF5B70;
  height: 3px;
  width: 63px;
}

.sector-collection .name-colect {
  margin-top: 12px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
}

.sector-collection .text-colect {
  margin-top: 48px;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  color: #5E5E5E;
  width: 555px;
}

.sector-collection .price-colect {
  margin-top: 32px;
  font-weight: 300;
  color: #EF5B70;
  font-size: 24px;
  line-height: 29px;
  border-bottom: 1px solid #EAEAEA;
  width: 640px;
  padding-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fiters-collection {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.det-collection {
  margin-right: 22px;
}

.size-collection {
  margin-right: 22px;
}

.prod-blok {
  margin-top: 200px;
}

.menu-tren-colect {
  position: absolute;
}

.add-cart-colection {
  margin-top: 50px;
}

.add-cart-colection .card-links-colect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #f16d7f;
  padding: 14px 55px 14px 23px;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f16d7f;
}

.col-add-tex {
  margin-left: 22px;
}

.featuredItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-color: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  margin: 0 auto;
}

.header-section {
  background-color: #f1e4e6;
  height: 764px;
}

.container {
  margin: 0 auto;
  width: 1165px;
}

.header-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 16px;
  text-transform: uppercase;
}

.header-brand {
  font-weight: 900;
  font-size: 48px;
  line-height: 57px;
  color: #222;
}

.text-brand {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222;
}

.pink-word {
  color: #f16d7f;
}

.pink-line {
  border-left: 12px solid #f16d7f;
}

.header-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  width: 100%;
}

nav .flex-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-img {
  margin-right: 33px;
}

.contact-img .fa-user {
  font-size: 30px;
  font-weight: lighter;
  color: white;
}

.contact-img .fa-user:hover {
  color: #f16d7f;
}

.contact-img .fa-shopping-cart {
  font-size: 30px;
  color: white;
}

.contact-img .fa-shopping-cart:hover {
  color: #f16d7f;
}

.contact-img .fa-bars {
  font-size: 30px;
  color: white;
}

.contact-img .fa-bars:hover {
  color: #f16d7f;
}

.contact-img .fa-search {
  font-size: 30px;
  color: white;
}

.contact-img .fa-search:hover {
  color: #f16d7f;
}

/* Меню бокс */
.mega-item {
  position: absolute;
  background-color: #fff;
  padding: 37px 1px 79px 50px;
  display: none;
  margin-top: 23px;
  padding-bottom: 53px;
  z-index: 10000;
}

.mega-box {
  padding: 34px 0 30px 0;
}

.mega-box:hover .mega-item {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #f16d7f;
  padding-top: 20px;
  padding-bottom: 12px;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "";
  padding-right: 0.5em;
}

details[open] > summary::before {
  content: "";
}

.menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-box--style {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding-bottom: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-box--style .fa-times {
  margin-left: 114px;
  padding-right: 16px;
  margin-top: -16px;
}

.menu-box--style .fa-times:hover {
  color: #f16d7f;
}

.mega-link {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  font-weight: 400;
  padding: 12px 0px 11px 15px;
}

.mega-link:hover {
  color: #f16d7f;
}

.flex-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

img {
  cursor: pointer;
}

/* search form*/
form {
  margin-left: 41px;
}

.searchBox:hover > .searchInput {
  padding: 0 6px;
  width: 240px;
  border-radius: 15px;
}

.searchBox:hover > .searchButton {
  background: #222;
  color: #f16d7f;
}

.searchButton {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #222;
  border-radius: 50%;
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: #6f6e6e;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

/* Третий блок */
.catalog-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-project {
  margin-top: 30px;
  position: relative;
  width: 360px;
}

.catalog-project:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 105px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  pointer-events: none;
}

.card-box .card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.box-parent {
  top: 65px;
}

.box-centre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__text {
  font-size: 16px;
  line-height: 19px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}

.catalog-words {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.catalog-parent {
  margin-top: 30px;
  width: 100%;
}

.catalog-image {
  width: 100%;
}

/* Четвертый блок */
.item-texts {
  margin-top: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.block-text--heading {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

.block-text--section-text {
  padding-top: 6px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
}

/* Пятый блок */
.item-box {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item {
  width: 360px;
  position: relative;
  margin-bottom: 30px;
}

.item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item .item-link {
  display: block;
  text-decoration: none;
}

.item-pic {
  width: 100%;
}

.text-box {
  padding: 20px;
}

.text-desc {
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #222;
  font-weight: 400;
}

.text-midle {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.text-price {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  font-weight: 400;
  margin-top: 18px;
}

.item:hover .item-pic {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.cart-box {
  display: none;
  position: absolute;
  top: 188px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  pointer-events: none;
}

.cart-box .card-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #fff;
  padding: 10px;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-box .add-text {
  font-size: 14px;
  line-height: 17px;
  color: white;
  margin-left: 11px;
  font-weight: 400;
}

.item:hover .cart-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Конец пятого блока */
.but-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.but-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ff6a6a;
  padding: 14px 38px;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f16d7f;
}

.button-text {
  font-size: 14px;
  line-height: 17px;
  color: white;
  margin-left: 11px;
  font-weight: 400;
}

.but-links:hover {
  -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
          box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  -webkit-transform: translate3d(0, 0, -1em);
          transform: translate3d(0, 0, -1em);
}

/* конец кнопки */
.section-icons {
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 341px;
  margin-top: 95px;
}

.first-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 343px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 2%;
}

.first-icons .car-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 44px;
  padding-top: 104px;
}

.first-icons .car-icons:hover {
  -webkit-animation: spin 5s linear 0s infinite;
          animation: spin 5s linear 0s infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.first-icons .car-icons--context {
  padding-top: 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #fbfbfb;
  padding-bottom: 104px;
}

.first-icons .car-icons--text {
  font-size: 20px;
  line-height: 24px;
  color: #fbfbfb;
  font-weight: 400;
  padding-top: 28px;
}

.wrapper-icons {
  max-width: 1165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Квотес секция */
.quotes-section {
  background-image: url(../img/photo-subscribe.png) no-repeat;
  height: 448px;
  background-size: cover;
  background-position: center center;
  width: 100%;
}

.wrap-quotes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: wrap;
          flex-direction: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.figure-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 2% 7%;
}

.figure-box .subscribe {
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  padding-top: 150px;
}

.figure-box .promotion {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.figure-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 97px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.figure-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.figcaption {
  padding-top: 30px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #222224;
}

.enter-mail {
  width: 557px;
}

.subscribe-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  padding-top: 32px;
}

.subscribe-wrapper .subscribe-input {
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-color: #e1e1e1;
  background-color: #e1e1e1;
}

.submit-btn {
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: #e05c6e;
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  padding: 10px;
}

.submit-btn:hover {
  cursor: pointer;
}

::-webkit-input-placeholder {
  padding-left: 22px;
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222224;
}

:-ms-input-placeholder {
  padding-left: 22px;
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222224;
}

::-ms-input-placeholder {
  padding-left: 22px;
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222224;
}

::placeholder {
  padding-left: 22px;
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.67;
  color: #222224;
}

footer {
  height: 79px;
  background-color: #222224;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-contant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.copy-righ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.copy-righ .copy-text {
  padding-top: 30px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #fbfbfb;
}

.networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-top: 24px;
}

.insta {
  height: 32px;
  width: 31px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.insta:hover {
  background-color: #f16d7f;
}

.insta .link-netw {
  text-decoration: none;
}

.insta .fa-facebook-f,
.insta .fa-instagram,
.insta .fa-pinterest-p,
.insta .fa-twitter {
  color: #222;
}

.insta .fa-facebook-f:hover,
.insta .fa-instagram:hover,
.insta .fa-pinterest-p:hover,
.insta .fa-twitter:hover {
  color: white;
}

.insta-fig {
  margin-left: 8px;
}

.pint-fig {
  margin-left: 8px;
}

.twit-fig {
  margin-left: 8px;
}

@media (max-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 768px;
  }
  .flex-right {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-image {
    width: 286px;
    height: 368px;
  }
  .header-brand {
    font-size: 44px;
    line-height: 52px;
  }
  .text-brand {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }
  .header-section {
    height: 367px;
  }
  .catalog-project {
    width: 232px;
  }
  .catalog-parent {
    margin-top: 19px;
  }
}

@media (max-width: 414px) {
  .container {
    margin: 0 auto;
    width: 375px;
  }
  .header-image {
    display: none;
  }
  .header-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-top: 148px;
  }
  .header-title .header-brand {
    font-size: 38px;
    line-height: 45px;
  }
  .header-title .text-brand {
    font-size: 20px;
    line-height: 24px;
  }
  .header-section {
    height: 363px;
  }
  .contact-img--user {
    display: none;
  }
  .mega-item {
    margin-left: -166px;
    opacity: 0.7;
  }
  summary {
    padding-top: 5px;
    padding-bottom: 2px;
  }
}

.content-test {
  height: 148px;
  background-color: #F8F3F4;
}

.bread-blok {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  padding-top: 65px;
}

.bread-blok .bread-arrival {
  color: #f16d7f;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

ul.breadcrumb {
  list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 14px;
  line-height: 16px;
}

ul.breadcrumb li + li:before {
  padding: 1px;
  color: #636363;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #636363;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #f16d7f;
  text-decoration: underline;
}

ul.breadcrumb li:last-of-type {
  color: #f16d7f;
  font-weight: 700;
}

.fiters-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 51px;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  padding-bottom: 61px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.filter-details {
  position: absolute;
  z-index: 1;
  padding: 13px 184px 9px 16px;
  background-color: white;
}

.filter-details:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.filter-details .filter-menu {
  color: #6f6e6e;
}

.filter-details .filter-menu .fa-bars {
  margin-left: 11px;
}

.filter-summary {
  border-left: 5px solid #EF5B70;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  margin-bottom: 18px;
}

.det-trendings {
  padding: 13px 120px 9px 16px;
  margin-left: 407px;
  position: absolute;
  z-index: 1;
}

.sum-trendings {
  color: #6f6e6e;
}

.sum-trendings .fa-bars,
.sum-trendings .fa-angle-down {
  margin-left: 11px;
  color: #6f6e6e;
}

.border-trend {
  background-color: white;
  margin-top: 5px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  -webkit-transform: translate3d(0, 0, -1em);
          transform: translate3d(0, 0, -1em);
}

.check-box--trend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.check-box--trend:hover {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.check-box--trend .label-trend {
  color: #6f6e6e;
}

.check-box--trend .label-trend:hover {
  color: #f16d7f;
}

#scales,
#scales01,
#scales02,
#scales03,
#scales04,
#scales05,
#scales06,
#scales07,
#scales08,
#scales09,
#scales10,
#scales11,
#scales12,
#scales13,
#scales14,
#scales15,
#scales16,
#scales17,
#scales18,
#scales19,
#scales20,
#scales21,
#scales22,
#scales23 {
  margin-right: 10px;
  color: #6f6e6e;
}

.size-check {
  padding: 13px 120px 9px 16px;
  margin-left: 580px;
  position: absolute;
  z-index: 1;
}

.price-check {
  padding: 13px 120px 9px 16px;
  margin-left: 681px;
  position: absolute;
  z-index: 1;
}

.pagination-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-box .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  border: 1px solid #EBEBEB;
  padding: 15px 16px;
}

.pagination a {
  color: #EBEBEB;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.pagination a.active {
  color: #f16d7f;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.fa-angle-left,
.fa-angle-right {
  color: #222;
}
