body {
    -webkit-font-smoothing: antialiased;
    font-family: 'Raleway', sans-serif;
    background-color: #8271B7;
    font-size: 14px;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}


/* Container
===================*/
.container {
    background-color: linear-gradient(90deg, rgb(208, 67, 185) 29%, rgb(82, 142, 182) 63%, rgb(239, 242, 221) 100%);
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
    
}


/* Header
===================*/
/* Верхушка хедер лого */
.header-container-logo {
    justify-content: flex-end;
	display: flex;
    
}
/* Конец Верхушка хедер лого */

.header__inner {
    border-bottom: 1px solid #515369;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    display: flex;
}


/* Intro
===================*/

.intro {
    background: linear-gradient(90deg, rgb(208, 67, 185) 29%, rgb(82, 142, 182) 63%, rgb(239, 242, 221) 100%);
    justify-content: center;
    background-size: cover;
    flex-direction: column;
    padding-top: 100px;
    display: flex;
    height: 750px;
}

.intro__inner {
    text-align: center;
    max-width: 970px;
    margin: 0 auto;
    width: 100%;
}

.intro__title {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    margin: 0 0 20px;
    line-height: 1.1;
    font-weight: 700;
    font-size: 65px;
    color: #fff;
}

.intro__subtitle {
    margin-bottom: 60px;
    line-height: 1.5;
    font-weight: 400;
    font-size: 22px;
    color: #fff;
}


/* Button
===================*/
.btn {
    font-family: 'Raleway', sans-serif;
    transition: background .1s linear;
    width: 290px; height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 2px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    border: 0;
}

.btn--red {
    background-color: #3A3E64;
}

.btn--red:hover {
    background-color: #dd3434;
}

.btn--long {
    min-width: 280px;
}



/* Features
===================*/
.features {
    flex-wrap: wrap;
    margin: 95px 0;
    display: flex;
    
}

.features__item {
    text-align: center;
    width: 33.33333%;
    padding: 0 40px;
    margin: 25px 0;
}

.features__icon {
    margin-bottom: 25px;
}

.features__title {
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #2d3033;
    font-weight: 700;
    font-size: 14px;
}

.features__text {
    line-height: 1.5;
    font-size: 14px;
    color: #fff;
}


/* Works
===================*/
.works {
    flex-wrap: wrap;
    display: flex;

}

.works__item {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    position: relative;
    overflow: hidden;
    height: 350px;
    width: 25%;
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__photo {
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    height: 320px;
    width: 350px;
    z-index: 1;
    left: 50%;
    top: 50%;
}

.works__content {
    transition: opacity .2s linear;
    background-color: #8271B7;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 2;
    left: 0;
    top: 0;
}

.works__title {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.works__text {
    font-size: 14px;
    color: #fff;
}


/* Team
===================*/
.team {
    margin: 100px 0 70px;
}

.team__inner {
    flex-wrap: wrap;
    margin: 0 -15px;
    display: flex;
}

.team__item {
    margin-bottom: 30px;
    padding: 0 15px;
    width: 25%;
}

.team__photo {
    margin-bottom: 20px;
    max-width: 100%;
    display: block;
    height: 200px;
    width: 300px;
}

.team__name {
    margin-bottom: 8px;
    text-align: center;
    font-size: 22px;
    color: #2d3033;
}

.team__prof {
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #e84545;
    font-size: 13px;
}

.team__text {
    margin-bottom: 10px;
    padding-left: 60px;
    line-height: 1.5;
    font-size: 14px;
    color: #fff;
}



/* Social
===================*/

.social {
    display: flex;
}

.social--footer {
    justify-content: center;
}

.social__item {
    transition: background .1s linear;
    border: 1px solid #e8ecee;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    display: flex;
    height: 40px;
    width: 40px;
}

.social__item:hover {
    background-color: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #000;
}

.social--footer .social__item {
    background-color: transparent;
    border-color: #fff;
    border-radius: 2px;
    border-width: 2px;
}

.social--footer .social__item:hover {
    background-color: #fff;
}

.social__icon {
    transition: fill .1s linear;
    fill: #c6cacc;
    display: block;
    height: 18px;
}

.social--footer .social__icon {
    fill: #fff;
}

/* Reviews
===================*/

.reviews {
    background-color: #564B7A;
    overflow: hidden;
}

.reviews__item {
    flex-wrap: wrap;
    display: flex;
}

.reviews__photo {
    position: relative;
    height: 500px;
    width: 50%;
}

.reviews__img {
    transform: translateY(-50%);
    margin: 10px 0 0 80px;
    position: absolute;
    height: 300px;
    z-index: 1;
    top: 50%;
}

.reviews__content {
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
    display: flex;
    width: 50%;
}

.reviews__text {
    font-family: 'Cardo', sans-serif;
    margin-bottom: 25px;
    font-style: italic;
    line-height: 1.2;
    font-size: 36px;
    color: #fff;
}

.reviews__author {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    color: #fff;
}



/* Download
===================*/

.download {
    text-align: center;
    margin: 90px 0;
}

.download__title {
    margin-bottom: 10px;
    color: #2d3033;
    font-weight: 300;
    font-size: 28px;
}

.download__text {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #2d3033;
    font-weight: 700;
    font-size: 13px;
}


/* Footer
===================*/

.footer {
    background-color: #3a3e64;
}

.footer__inner {
    flex-wrap: wrap;
    padding: 70px 0;
    display: flex;
}

.footer__block {
    text-align: center;
    width: 33.33333%;
    padding: 0 15px;
}

.footer__title {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.footer__address {
    color: rgba(255, 255, 255, .5);
    font-style: normal;
    line-height: 1.5;
    font-size: 14px;
}

.footer__text {
    color: rgba(255, 255, 255, .5);
    line-height: 1.5;
    font-size: 14px;
    outline: none;
}

a{
    text-decoration: none  !important;
    color: lightgray;
}

/* Copyright
===================*/

.copyright {
    background-color: #313454;
    padding: 20px 0;
}

.copyright__text {
    text-align: center;
    color: #808080;
    line-height: 1.5;
    font-size: 14px;
}

.copyright__text span {
    color: #fff;
}
.header-logo {
    margin: 10px 20px auto;
    stroke: currentColor;
    fill: currentColor;
    stroke-width: 0;
    cursor: pointer;
    display: flex;
    height: 12em;
    width: 9em;
  }

/* Анимация лого */
  /* При наведении крутит */
  img {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
  }
  img:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

/* Конец анимации лого */
.header-container{
    justify-content: space-between;
    align-items: center;
    flex-direction: row; 
    position: fixed;
    display: flex;
}

.header-main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 0 0 100px;
    font-size: 1.2 em;
    color: #fff;
}
.header-main h1{
    animation: glow 2s infinite alternate;
	text-transform: uppercase;
	font-size: 4em;
}

@keyframes glow{
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}

	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}

section{
    margin: 0 0 0 180px;
	position: relative;
    font-size: 2em;
}


/* Частицы библиотека */
#particles-js{
  height: 100vh;
}

@media (max-width: 767px) {

    /* Intro */
    .intro {
        padding-bottom: 30px;
        padding-top: 130px;
        height: auto;
    }

    .intro__title {
        font-size: 30px;
    }
    
    .intro__subtitle {
        margin-bottom: 30px;
        font-size: 16px;
    }

}
@media (max-width: 767px){
.header-main {
    font-size: 14px;
    
}
@media (max-width: 600px){
    .header-main {
        font-size: 10px;
        
    }
    .works__photo{
        width: 14%;
        height: 14%;
    }
}
.header-logo {
    stroke: currentColor;
    margin: 0px 3px auto;
    fill: currentColor;
    cursor: pointer;
    stroke-width: 0;
    display: flex;
    height: 12em;
    width: 9em;
    
  }

/* Анимация лого */
  /* При наведении крутит */
  img {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
  }
  img:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

  
/* Конец анимации лого */
.header-container{
  justify-content: space-between;
  flex-direction: row; 
  align-items: center;
  position: fixed;
  display: flex;
}

.header-main{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 0 0 100px;
    font-size: 1.2 em;
    color: #fff;
}
.header-main h1{
    animation: glow 2s infinite alternate;
    text-transform: uppercase;
    font-size: 4em;
}

@keyframes glow{
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}

	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}

section{
  margin: 0 0 0 180px;
  font-size: 2em;
}


/* Частицы библиотека */
#particles-js{
  height: 80vh;
  background: -webkit-linear-gradient(90deg, rgb(208, 67, 185) 29%, rgb(82, 142, 182) 63%, rgb(239, 242, 221) 100%);
background: -moz-linear-gradient(90deg, rgb(208, 67, 185) 29%, rgb(82, 142, 182) 63%, rgb(239, 242, 221) 100%);
background: linear-gradient(90deg, rgb(208, 67, 185) 29%, rgb(82, 142, 182) 63%, rgb(239, 242, 221) 100%);
}







