@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root {
    --white-rgb: 255,255,255;
    --purple:#2B076E;
    --dark: #0D0D2B;
    --blue: #3671E9;
    --white: #FFF;
}
body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--dark);
    color: var(--white);
}
/* Початок навігації */
.header {
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1202px;
    margin-top: 60px;
    display: flex;
}
.nav {
    list-style-type: none;
    align-items: center;
    padding-left: 0;
    display: flex;
    margin: 0;
}
.nav-item {
    margin-left: 32px;
}
.nav-item--login{
    border-right: 1px solid rgba(242,242,242,0.3);
    padding-right: 24px;
    margin-left: 56px;
}
.nav-item--register {
    margin-left: 24px;
}
.nav-link {
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
}
.nav-link:hover {
    color: var(--blue);
}
.nav-item--login {
    font-weight: 500;
}
.nav-link--register {
    background-color: var(--blue);
    border-radius: 32px;
    padding: 14px 32px;
    font-weight: 500;
}
.nav-link--register:hover {
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    background-color: var(--purple);
    color: var(--white);
}
/* Кінець навігації */
.wrapper {
    min-width: 1202px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}
.main {
    display: flex;
    align-items: center;
}
.main-text {
    flex: 0 0 600px;
}
.main-text__sale {
    background-color: rgb(var(--white-rgb),0.1);
    display: inline-block;
    border-radius: 32px;
    padding: 10px 12px 10px 4px;
}
.main-text__sale span {
    background-color: var(--white);
    border-radius: 32px;
    color: var(--dark);
    margin-right: 16px;
    padding: 6px 19px;
    font-weight: 500;
}
.main-text__title {
    font-size: 64px;
    font-weight: 700;
    margin-top: 26px;
    line-height: 1.2;
}
.main-text__description {
    color: #E0E0E0;
    line-height: 1.5;
}
/* .main-img {
    flex-grow: 1;
} */
/* .main-img__image {
    width: 100%;
} */
@media screen and (max-width: 1180px) {
    .main-img__image {
        width: 50%;
    }
    
}
@media screen and (max-width: 940px) {
    .main-img__image {
        display: none;
    }
    
}
 /* Гамбургер */
 .hamburger {
    display: none;
}

.bar {
    
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #e4f0f5;
}
@media only screen and (max-width: 768px) {
    .nav {
        position: fixed;
        /* left: 100%; */
        top: 7rem;
        flex-direction: column;
        background-color: var(--dark);
        width: 50%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        /* left: 0;
        right: 0; */
    }

    .nav.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}
