$c-br-bluet: #E5E7E2;
$c-br-grey: #7086A4;
$c-bl-dark: #1E73BE;
$c-bc-ground: #ddd;
$c-bc-ccc: #ccc;
$c-bl: #98B2EB;
$c-grn: green;
$c-blk: #000;
$c-wht: #fff;

// font weight
$fw-9: 900;
$fw-7: 700;
$fw-5: 500;
$fw-4: 400;
$fw-3: 300;
