.cart__section-page{
    display: flex;
    margin-top: 96px;
    flex-wrap: wrap;
    width: 100%;
    .cart__sec-left{
    display: flex;
    max-width: 390px;
    padding: 1%;
    fd
    }
    .cart__sec-right{
    display: flex;
    max-width: 48%;
    }

}
.cart__img-left{
    display: flex;
    flex-direction: column;
}