$c-black:#222;
$c-pink:#f16d7f;
$c-grey:#6f6e6e;
$c-dr-blue:#2f3640;
$c-white:white;
$c-ligth-grey:#9f9f9f;
$c-norm-grey:#5d5d5d;
$c-rosa:#ff6a6a;
$c-light:#fbfbfb;
$c-dark:#222224;
$c-lit-white:#e1e1e1;
$bck-col-black: #222;
$bck-col-dr-white: #f1e4e6;
$bck-col-white: #fff;
$bck-col-dark:#222224;
$bck-col-pink:#e05c6e;
$col-hex:#F8F3F4;
$c-bread:#636363;
$c-border:#EF5B70;
$c-pagin:#EBEBEB;
$slide-c:#F7F7F7;
$slide-back:rgba(42, 42, 42, 0.15);
$bord-colect:#EAEAEA;
$c-gravy:#4D4D4D;
$c-stone:#5E5E5E;
$cart-c:#575757;
$c-total:#F5F3F3;
$tot-text:#4A4A4A;
$tot-text:#4A4A4A;

// font weight
$fw-9: 900;
$fw-7: 700;
$fw-4: 400;
$fw-3: 300;

// width
$w-100: 100%;

// text
$up-case: uppercase;
$fs-11: 11px;
$fs-13: 13px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-24: 24px;
$fs-30: 30px;
$fs-32: 32px;
$fs-48: 48px;
$l-h19: 19px;
$l-heig16: 16px;
$l-heig17: 17px;
$l-heig24: 24px;
$l-heig28: 28px;
$l-heig29: 29px;
$l-heig30: 30px;
$l-heig36: 36px;
$l-heig37: 37px;
$l-heig38: 38px;
$l-heig40: 40px;
$l-heig57: 57px;
$l-h22: 22px;
$cart-lin: 26px;