* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$ft-family: "Lato", sans-serif;

body {
  font-family: $ft-family;
}

//   Colors

@import "variables";
@import "cart";
@import "registrat"



header {
  background-color: $bck-col-black;
  display: flex;
  height: 75px;
  margin: 0 auto;
}
.header-section {
  background-color: $bck-col-dr-white;
  height: 764px;
}
.container {
  margin: 0 auto;
  width: 1165px;
}
.header-image {
  display: flex;
}
.header-man {
  left: 0;
  display: flex;
}
.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-column {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  text-transform: $up-case;
}
.header-brand {
  font-weight: $fw-9;
  font-size: $fs-48;
  line-height: $l-heig57;
  color: $c-black;
}
.text-brand {
  font-weight: $fw-7;
  font-size: $fs-32;
  line-height: $l-heig38;
  color: $c-black;
}
.pink-word {
  color: $c-pink;
}
.pink-line {
  border-left: 12px solid $c-pink;
}
.header-cover {
  display: flex;
  justify-content: space-between;
  width: 1165px;
  margin: 0 auto;
  // align-items: center;
}

nav {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  display: flex;
  height: 75px;
  width: $w-100;
  .flex-left {
    align-items: center;
    flex-direction: row;
    display: flex;
  }
}

.contact-img {
  margin-right: 33px;
  .fa-user {
    font-size: $fs-30;
    font-weight: lighter;
    color: $c-white;
    &:hover {
      color: $c-pink;
    }
  }
  .fa-shopping-cart {
    font-size: $fs-30;
    color: $c-white;
    &:hover {
      color: $c-pink;
    }
  }
  .fa-bars {
    font-size: $fs-30;
    color: $c-white;

    &:hover {
      color: $c-pink;
    }
  }
  .fa-search {
    font-size: $fs-30;
    color: $c-white;

    &:hover {
      color: $c-pink;
    }
  }
}
/* Меню бокс */
.mega-item {
  position: absolute;
  background-color: $bck-col-white;
  padding: 37px 1px 79px 50px;
  display: none;
  margin-top: 23px;
  padding-bottom: 53px;
  z-index: 10000;
}
.mega-box {
  padding: 34px 0 30px 0;
}
.mega-box:hover .mega-item {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  display: block;
  font-weight: $fw-4;
  font-size: $fs-14;
  line-height: $l-heig17;
  text-transform: $up-case;
  color: $c-pink;
  padding-top: 20px;
  padding-bottom: 12px;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "";
  padding-right: 0.5em;
}

details[open] > summary::before {
  content: "";
}
.menu-box {
  display: flex;
}
.menu-box--style {
  font-weight: $fw-7;
  font-size: $fs-14;
  line-height: $l-heig17;
  text-transform: $up-case;
  padding-bottom: 4px;
  display: flex;
  .fa-times {
    margin-left: 114px;
    padding-right: 16px;
    margin-top: -16px;
    &:hover {
      color: $c-pink;
    }
  }
}

.mega-link {
  display: block;
  text-decoration: none;
  font-size: $fs-14;
  line-height: $l-heig17;
  color: $c-grey;
  font-weight: $fw-4;
  padding: 12px 0px 11px 15px;
  &:hover {
    color: $c-pink;
  }
}

.flex-right {
  display: flex;
  align-items: center;
  position: relative;
}
img {
  cursor: pointer;
}

/* search form*/
form {
  margin-left: 41px;
}

.searchBox:hover > .searchInput {
  padding: 0 6px;
  width: 240px;
  border-radius: 15px;
}

.searchBox:hover > .searchButton {
  background: $bck-col-black;
  color: $c-pink;
}

.searchButton {
  justify-content: center;
  align-items: center;
  background: $bck-col-black;
  border-radius: 50%;
  color: $c-white;
  float: right;
  width: 40px;
  height: 40px;
  display: flex;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: $c-grey;
  outline: none;
  float: left;
  padding: 0;
  color: $c-white;
  font-size: $fs-16;
  transition: 0.4s;
  line-height: $l-heig40;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

/* Третий блок */
.catalog-box {
  display: flex;
  flex-direction: column;
}

.catalog-project {
  margin-top: 30px;
  position: relative;
  width: 360px;
  &:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }
}

.card-box {
  display: flex;
  position: absolute;
  top: 105px;
  justify-content: center;
  width: $w-100;
  pointer-events: none;
  .card-link {
    display: flex;
    text-decoration: none;
  }
}

.box-parent {
  top: 65px;
}
.box-centre {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.catalog__text {
  font-size: $fs-16;
  line-height: $l-h19;
  color: $c-white;
  text-transform: $up-case;
  font-weight: $fw-4;
}
.catalog-words {
  font-size: $fs-24;
  line-height: $l-heig28;
  font-weight: $fw-7;
  text-transform: $up-case;
}
.catalog-block {
  display: flex;
  justify-content: space-between;
}

.catalog-parent {
  margin-top: 30px;
  width: $w-100;
}
.catalog-image {
  width: $w-100;
}

/* Четвертый блок */

.item-texts {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $w-100;
}
.block-text--heading {
  font-weight: normal;
  font-size: $fs-30;
  line-height: $l-heig36;
}
.block-text--section-text {
  padding-top: 6px;
  font-weight: normal;
  font-size: $fs-14;
  line-height: $l-heig17;
  color: $c-ligth-grey;
}
/* Пятый блок */
.item-box {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  width: 360px;
  position: relative;
  margin-bottom: 30px;
  &:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }
  .item-link {
    display: block;
    text-decoration: none;
  }
}

.item-pic {
  width: $w-100;
}
.text-box {
  padding: 20px;
}
.text-desc {
  margin-bottom: 12px;
  text-transform: $up-case;
  font-size: $fs-13;
  line-height: $l-heig16;
  color: $c-black;
  font-weight: $fw-4;
}
.text-midle {
  font-weight: $fw-3;
  font-size: $fs-14;
  line-height: $l-heig17;
  color: $c-norm-grey;
}
.text-price {
  text-transform: $up-case;
  font-size: $fs-16;
  line-height: $l-h19;
  color: $c-pink;
  font-weight: $fw-4;
  margin-top: 18px;
}
.item:hover .item-pic {
  filter: brightness(30%);
}
.cart-box {
  display: none;
  position: absolute;
  top: 188px;
  justify-content: center;
  width: 100%;
  pointer-events: none;
  
  .card-links {
    display: flex;
    border: 1px solid #fff;
    padding: 10px;
    text-decoration: none;
    align-items: center;
    
  }
  .add-text {
    font-size: $fs-14;
    line-height: $l-heig17;
    color: $c-white;
    margin-left: 11px;
    font-weight: $fw-4;
  }
}

.item:hover .cart-box {
  display: flex;
}
/* Конец пятого блока */

.but-box {
  display: flex;
  margin-top: 48px;
  justify-content: center;
  width: $w-100;
}
.but-links {
  display: flex;
  border: 1px solid $c-rosa;
  padding: 14px 38px;
  text-decoration: none;
  align-items: center;
  background-color: $c-pink;
}
.button-text {
  font-size: $fs-14;
  line-height: $l-heig17;
  color: $c-white;
  margin-left: 11px;
  font-weight: $fw-4;
}
.but-links:hover {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}
/* конец кнопки */
.section-icons {
  background-color: $bck-col-dark;
  display: flex;
  height: 341px;
  margin-top: 95px;
}
.first-icons {
  display: flex;
  flex-direction: column;
  max-width: 343px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 2%;
  .car-icons {
    display: flex;
    max-width: 44px;
    padding-top: 104px;
    &:hover{
      animation: spin 5s linear 0s infinite;
    }
  }
  @keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
  .car-icons--context {
    padding-top: 16px;
    font-weight: $fw-3;
    font-size: $fs-14;
    line-height: $l-heig17;
    color: $c-light;
    padding-bottom: 104px;
  }
  .car-icons--text {
    font-size: $fs-20;
    line-height: $l-heig24;
    color: $c-light;
    font-weight: $fw-4;
    padding-top: 28px;
  }
}

.wrapper-icons {
  max-width: 1165px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Квотес секция */
.quotes-section {
  background-image: url(.././img/photo-subscribe.png);
  height: 448px;
  background-repeat: no-repeat;
  background-size: $w-100;
}
.wrap-quotes {
  display: flex;
  flex-direction: wrap;
  justify-content: space-between;
  width: 100%;
}
.figure-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  text-align: center;
  padding: 2% 7%;
  .subscribe {
    font-weight: $fw-7;
    font-size: $fs-24;
    line-height: $l-heig37;
    padding-top: 150px;
  }
  .promotion {
    font-weight: $fw-4;
    font-size: $fs-18;
    line-height: $l-heig30;
  }
}
.figure-image {
  display: flex;
  padding-top: 97px;
  justify-content: center;
}
.figure-text{
  display: flex;
  justify-content: center;
}
.figcaption {
  padding-top: 30px;
  font-size: $fs-20;
  line-height: $l-heig24;
  font-weight: $fw-4;
  color: $c-dark;
  
}

.enter-mail {
  width: 557px;
}
.subscribe-wrapper {
  display: flex;
  justify-content: center;
  // margin-top: 39px;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  padding-top: 32px;
  .subscribe-input {
    // width: 256px;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-color: $c-lit-white;
    background-color: $c-lit-white;
  }
}

.submit-btn {
  // width: 100px;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: $bck-col-pink;
  // height: 49px;
  color: $c-white;
  text-align: center;
  align-items: center;
  font-size: $fs-14;
  line-height: $l-heig17;
  display: flex;
  font-weight: $fw-4;
  padding: 10px;
  &:hover{
    cursor: pointer;
  }
}
::placeholder {
  padding-left: 22px;
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: $fs-14;
  line-height: $l-heig17;
  opacity: 0.67;
  color: $bck-col-dark;
}
footer {
  height: 79px;
  background-color: $bck-col-dark;
  display: flex;
}
.footer-contant {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: $w-100;
}
.copy-righ {
  display: flex;
  justify-content: flex-start;
  width: $w-100;
  .copy-text {
    padding-top: 30px;
    font-size: $fs-16;
    line-height: $l-h19;
    font-weight: $fw-4;
    color: $c-light;
  }
}

.networks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  width: $w-100;
  margin-top: 24px;
}
.insta {
  height: 32px;
  width: 31px;
  background-color: $bck-col-white;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $c-pink;
  }

  .link-netw {
    text-decoration: none;
  }
  .fa-facebook-f,
  .fa-instagram,
  .fa-pinterest-p,
  .fa-twitter {
    color: $c-black;
    &:hover {
      color: $c-white;
    }
  }
}
.insta-fig {
  margin-left: 8px;
}
.pint-fig {
  margin-left: 8px;
}
.twit-fig {
  margin-left: 8px;
}

// page coooooontact

.content-test {
  height: 148px;
  background-color: $col-hex;
}
.bread-blok {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: $up-case;
  padding-top: 65px;
  .bread-arrival {
    color: $c-pink;
    font-weight: $fw-4;
    font-size: $fs-24;
    line-height: $l-heig29;
  }
}
ul.breadcrumb {
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: $fs-14;
  line-height: $l-heig16;
}
ul.breadcrumb li + li:before {
  padding: 1px;
  color: $c-bread;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: $c-bread;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #f16d7f;
  text-decoration: underline;
}
ul.breadcrumb li:last-of-type {
  color: #f16d7f;
  font-weight: $fw-7;
}
//   filter block
.fiters-item {
  display: flex;
  padding-top: 51px;
  font-size: $fs-14;
  line-height: $l-heig17;
  cursor: pointer;
  padding-bottom: 61px;
  align-items: center;
  justify-content: flex-start;
}

.filter-details {
  position: absolute;
  z-index: 1;
  padding: 13px 184px 9px 16px;
  background-color: $c-white;

  &:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }
  .filter-menu {
    color: $c-grey;
    .fa-bars {
      margin-left: 11px;
    }
  }
}
.filter-summary {
  border-left: 5px solid $c-border;
  font-weight: $fw-4;
  font-size: $fs-14;
  line-height: $l-heig17;
  color: $c-border;
  margin-bottom: 18px;
}
.det-trendings {
  padding: 13px 120px 9px 16px;
  margin-left: 407px;
  position: absolute;
  z-index: 1;
}
.sum-trendings {
  color: $c-grey;
  .fa-bars,
  .fa-angle-down {
    margin-left: 11px;
    color: $c-grey;
  }
}
.border-trend {
  background-color: $c-white;
  margin-top: 5px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  transform: translate3d(0, 0, -1em);
}

.check-box--trend {
  display: flex;
  align-items: center;
  padding: 10px;
  &:hover {
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  }

  .label-trend {
    color: $c-grey;
    &:hover {
      color: #f16d7f;
    }
  }
}
#scales,
#scales01,
#scales02,
#scales03,
#scales04,
#scales05,
#scales06,
#scales07,
#scales08,
#scales09,
#scales10,
#scales11,
#scales12,
#scales13,
#scales14,
#scales15,
#scales16,
#scales17,
#scales18,
#scales19,
#scales20,
#scales21,
#scales22,
#scales23 {
  margin-right: 10px;
  color: $c-grey;
}
.size-check {
  padding: 13px 120px 9px 16px;
  margin-left: 580px;
  position: absolute;
  z-index: 1;
}
.price-check {
  padding: 13px 120px 9px 16px;
  margin-left: 681px;
  position: absolute;
  z-index: 1;
}
// PAGINATION
.pagination-box {
  display: flex;
  justify-content: center;
  .pagination {
    display: flex;
    justify-content: center;
    width: 300px;
    border: 1px solid $c-pagin;
    padding: 15px 16px;
  }
}

.pagination a {
  color: $c-pagin;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  color: $c-pink;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.fa-angle-left,
.fa-angle-right {
  color: $c-black;
}

// Product page
.slide-section {
  background-color: $slide-c;
  .slideshow-container {
    width: 600px;
    position: relative;
    margin: 0 auto;
  }
  .mySlides1 {
    display: none;
  }
  .slide-img {
    vertical-align: middle;
    padding-bottom: 64px;
  }
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 11px 19px;
  margin-top: -22px;
  color: $c-black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: $slide-back;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover,  */
.prev:hover,
.next:hover {
  color: $c-pink;
}
.prev {
  left: -467px;
}
.next {
  right: -467px;
}
// Сектор коллекции
.sector-collection {
  background-color: $c-white;
  width: 1140px;
  margin: 0 auto;
  height: 660px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $bord-colect;
  margin-top: -65px;
  padding-left: 292px;
  padding-right: 294px;
  .colect-title {
    padding-top: 64px;
    text-transform: $up-case;
    color: $c-pink;
    font-weight: $fw-3;
    font-size: $fs-14;
    line-height: $l-heig16;
  }
  .line-colect {
    margin-top: 12px;
    background-color: $c-border;
    height: 3px;
    width: 63px;
  }
  .name-colect {
    margin-top: 12px;
    font-weight: $fw-3;
    text-transform: $up-case;
    font-size: $fs-18;
    line-height: $l-h22;
    color: $c-gravy;
  }
  .text-colect {
    margin-top: 48px;
    text-align: center;
    font-weight: $fw-3;
    font-size: $fs-14;
    color: $c-stone;
    width: 555px;
  }
  .price-colect {
    margin-top: 32px;
    font-weight: $fw-3;
    color: $c-border;
    font-size: $fs-24;
    line-height: $l-heig29;
    border-bottom: 1px solid $bord-colect;
    width: 640px;
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
  }
}
.fiters-collection {
  padding-top: 10px;
  display: flex;
  margin-top: 60px;
}
// .left-collection{
//   display: flex;
// }
// .marg-col-det{
//   margin-left: -96px;

// }

.det-collection {
  margin-right: 22px;
}
.size-collection {
  margin-right: 22px;
}
// .price-collection{
//   margin-right: 22px;
// }
.prod-blok {
  margin-top: 200px;
}
.menu-tren-colect {
  position: absolute;
}
// link to cart

.add-cart-colection {
  margin-top: 50px;
  .card-links-colect {
    display: flex;
    border: 1px solid $c-pink;
    padding: 14px 55px 14px 23px;
    text-decoration: none;
    align-items: center;
    color: $c-pink;
  }
}
.col-add-tex {
  margin-left: 22px;
}
