* {
  margin: 0;
  padding: 0;
}

$ft-family: "Lato", sans-serif;

body {
  font-family: $ft-family;
}

//   Colors
$c-black:#222;
$c-pink:#f16d7f;
$c-grey:#6f6e6e;
$c-dr-blue:#2f3640;
$c-white:white;
$c-ligth-grey:#9f9f9f;
$c-norm-grey:#5d5d5d;
$c-rosa:#ff6a6a;
$c-light:#fbfbfb;
$c-dark:#222224;
$c-lit-white:#e1e1e1;
$bck-col-black: #222;
$bck-col-dr-white: #f1e4e6;
$bck-col-white: #fff;
$bck-col-dark:#222224;
$bck-col-pink:#e05c6e;

// font weight
$fw-9:900;
$fw-7:700;
$fw-4:400;
$fw-3:300;

// width
$w-100:100%;


// text
$up-case:uppercase;
$fs-13:13px;
$fs-14:14px;
$fs-16:16px;
$fs-18:18px;
$fs-20:20px;
$fs-24:24px;
$fs-30:30px;
$fs-32:32px;
$fs-48:48px;
$l-h19:19px;
$l-heig16:16px;
$l-heig17:17px;
$l-heig24:24px;
$l-heig28:28px;
$l-heig30:30px;
$l-heig36:36px;
$l-heig37:37px;
$l-heig38:38px;
$l-heig40:40px;
$l-heig57:57px;


header {
  background-color: $bck-col-black;
  display: flex;
  height: 75px;
}
.header-section {
  background-color: $bck-col-dr-white;
  height: 764px;
}
.container {
  margin: 0 auto;
  width: 1165px;
}
.header-image {
  display: flex;
}
.header-man {
  left: 0;
}
.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-column {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  text-transform: $up-case;
}
.header-brand {
  font-weight: $fw-9;
  font-size: $fs-48;
  line-height: $l-heig57;
  color: $c-black;
}
.text-brand {
  font-weight: $fw-7;
  font-size: $fs-32;
  line-height: $l-heig38;
  color: $c-black;
}
.pink-word {
  color: $c-pink;
}
.pink-line {
  border-left: 12px solid $c-pink;
}
.header-cover {
  display: flex;
  justify-content: space-between;
  width: 1250px;
}

nav {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  display: flex;
  height: 75px;
  width: $w-100;
  .flex-left {
    align-items: center;
    flex-direction: row;
    display: flex;
  }
}

.contact-img {
  margin-right: 33px;
}
/* Меню бокс */
.mega-item {
  position: absolute;
  background-color: $bck-col-white;
  padding: 37px 100px 79px 50px;
  display: none;
  margin-top: 23px;
  padding-bottom: 53px;
}
.mega-box {
  padding: 34px 0 30px 0;
}
.mega-box:hover .mega-item {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

summary {
  display: block;
  font-weight: $fw-4;
  font-size: $fs-14;
  line-height: $l-heig17;
  text-transform: $up-case;
  color: $c-pink;
  padding-top: 20px;
  padding-bottom: 12px;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "";
  padding-right: 0.5em;
}

details[open] > summary::before {
  content: "";
}

.menu-box--style {
  font-weight: $fw-7;
  font-size: $fs-14;
  line-height: $l-heig17;
  text-transform: $up-case;
  padding-bottom: 4px;
}

.mega-link {
  display: block;
  text-decoration: none;
  font-size: $fs-14;
  line-height: $l-heig17;
  color: $c-grey;
  font-weight: $fw-4;
  padding: 12px 0px 11px 15px;
  &:hover {
    color: $c-pink;
  }
}

.flex-right {
  display: flex;
  align-items: center;
  position: relative;
}
img {
  cursor: pointer;
}

/* search form*/
form {
  margin-left: 41px;
}

.searchBox:hover > .searchInput {
  padding: 0 6px;
  width: 240px;
}

.searchBox:hover > .searchButton {
  background: $bck-col-black;
  color: $c-dr-blue;
}

.searchButton {
  justify-content: center;
  align-items: center;
  background: $bck-col-black;
  border-radius: 50%;
  color: $c-white;
  float: right;
  width: 40px;
  height: 40px;
  display: flex;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: $c-white;
  font-size: $fs-16;
  transition: 0.4s;
  line-height: $l-heig40;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

/* Третий блок */
.catalog-box {
  display: flex;
  flex-direction: column;
}

.catalog-project {
  margin-top: 30px;
  position: relative;
  width: 360px;
  &:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }
}

.card-box {
  display: flex;
  position: absolute;
  top: 105px;
  justify-content: center;
  width: $w-100;
  pointer-events: none;
  .card-link {
    display: flex;
    text-decoration: none;
  }
}

.box-parent {
  top: 65px;
}
.box-centre {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.catalog__text {
  font-size: $fs-16;
  line-height: $l-h19;
  color: $c-white;
  text-transform: $up-case;
  font-weight: $fw-4;
}
.catalog-words {
  font-size: $fs-24;
  line-height: $l-heig28;
  font-weight: $fw-7;
  text-transform: $up-case;
}
.catalog-block {
  display: flex;
  justify-content: space-between;
}

.catalog-parent {
  margin-top: 30px;
  width: $w-100;
}
.catalog-image {
  width: $w-100;
}

/* Четвертый блок */

.item-texts {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: $w-100;
}
.block-text--heading {
  font-weight: normal;
  font-size: $fs-30;
  line-height: $l-heig36;
}
.block-text--section-text {
  padding-top: 6px;
  font-weight: normal;
  font-size: $fs-14;
  line-height: $l-heig17;
  color: $c-ligth-grey;
}
/* Пятый блок */
.item-box {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item {
  width: 360px;
  position: relative;
  margin-bottom: 30px;
  &:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  }
  .item-link {
    display: block;
    text-decoration: none;
  }
}


.item-pic {
  width: $w-100;
}
.text-box {
  padding: 20px;
}
.text-desc {
  margin-bottom: 12px;
  text-transform: $up-case;
  font-size: $fs-13;
  line-height: $l-heig16;
  color: $c-black;
  font-weight: $fw-4;
}
.text-midle {
  font-weight: $fw-3;
  font-size: $fs-14;
  line-height: $l-heig17;
  color: $c-norm-grey;
}
.text-price {
  text-transform: $up-case;
  font-size: $fs-16;
  line-height: $l-h19;
  color: $c-pink;
  font-weight: $fw-4;
  margin-top: 18px;
}
.item:hover .item-pic {
  filter: brightness(30%);
}
.cart-box {
  display: none;
  position: absolute;
  top: 188px;
  justify-content: center;
  width: 100%;
  pointer-events: none;
  .card-links {
    display: flex;
    border: 1px solid #fff;
    padding: 10px;
    text-decoration: none;
    align-items: center;
  }
  .add-text {
    font-size: $fs-14;
    line-height: $l-heig17;
    color: $c-white;
    margin-left: 11px;
    font-weight: $fw-4;
  }
}


.item:hover .cart-box {
  display: flex;
}
/* Конец пятого блока */

.but-box {
  display: flex;
  margin-top: 48px;
  justify-content: center;
  width: $w-100;
}
.but-links {
  display: flex;
  border: 1px solid $c-rosa;
  padding: 14px 38px;
  text-decoration: none;
  align-items: center;
  background-color: $c-pink;
}
.button-text {
  font-size: $fs-14;
  line-height: $l-heig17;
  color: $c-white;
  margin-left: 11px;
  font-weight: $fw-4;
}
.but-links:hover {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}
/* конец кнопки */
.section-icons {
  background-color: $bck-col-dark;
  display: flex;
  height: 341px;
  margin-top: 95px;
}
.first-icons {
  display: flex;
  flex-direction: column;
  max-width: 343px;
  justify-content: center;
  align-items: center;
  text-align: center;
  .car-icons {
    width: 44px;
    height: 31px;
    padding-top: 103px;
    padding-bottom: 28px;
  }
  .car-icons--context {
    padding-top: 16px;
    font-weight: $fw-3;
    font-size: $fs-14;
    line-height: $l-heig17;
    color: $c-light;
    padding-bottom: 104px;
  }
  .car-icons--text {
    font-size: $fs-20;
    line-height: $l-heig24;
    color: $c-light;
    font-weight: $fw-4;
  }
}

.wrapper-icons {
  max-width: 1165px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Квотес секция */
.quotes-section {
  background-image: url(img/photo-subscribe.png);
  height: 448px;
  background-repeat: no-repeat;
  background-size: $w-100;
}
.wrap-quotes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.figure-box {
  display: flex;
  flex-direction: column;
  width: 343px;
  justify-content: center;
  text-align: center;
  .subscribe {
    font-weight: $fw-7;
    font-size: $fs-24;
    line-height: $l-heig37;
    padding-top: 150px;
  }
  .promotion {
    font-weight: $fw-4;
    font-size: $fs-18;
    line-height: $l-heig30;
  }
}
.figure-image {
  width: 96px;
  height: 96px;
  padding-top: 97px;
}
figcaption {
  padding-top: 30px;
  font-size: $fs-20;
  line-height: $l-heig24;
  font-weight: $fw-4;
  color: $c-dark;
}

.enter-mail {
  width: 557px;
}
.subscribe-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 39px;
  border-radius: 10px;
  width: 356px;
  margin: 0 auto;
  padding-top: 32px;
  .subscribe-input {
    width: 256px;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-color: $c-lit-white;
    background-color: $c-lit-white;
  }
}

.submit-btn {
  width: 100px;
  border-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: $bck-col-pink;
  height: 49px;
  color: $c-white;
  text-align: center;
  align-items: center;
  font-size: $fs-14;
  line-height: $l-heig17;
  display: flex;
  font-weight: $fw-4;
  padding: 10px;
}
::placeholder {
  padding-left: 22px;
  padding-top: 7px;
  padding-bottom: 6px;
  font-size: $fs-14;
  line-height: $l-heig17;
  opacity: 0.67;
  color: $bck-col-dark;
}
footer {
  height: 79px;
  background-color: $bck-col-dark;
  display: flex;
}
.footer-contant {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: $w-100;
}
.copy-righ {
  display: flex;
  justify-content: flex-start;
  width: $w-100;
  .copy-text {
    padding-top: 30px;
    font-size: $fs-16;
    line-height: $l-h19;
    font-weight: $fw-4;
    color: $c-light;
  }
}

.networks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  width: $w-100;
  margin-top: 24px;
}
.insta {
  height: 32px;
  width: 31px;
  background-color: $bck-col-white;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $c-pink;
  }
  .insta-fig {
    margin-left: 8px;
  }
  .pint-fig {
    margin-left: 8px;
  }
  .twit-fig {
    margin-left: 8px;
  }
  .link-netw {
    text-decoration: none;
  }
  .fa-brands {
    color: $c-black;
    :hover {
      color: $c-white;
    }
  }
  
}

// page coooooontact

.content-test{
  height: 300px;
  background-color: $bck-col-pink;
}
.bread-blok{
  display: flex;
  
  .ficus{
    color: $c-grey;
  }

}
