body {
  background-color: #990909;
  font-family: sans-serif;
}
span {
  text-align: center;
  bottom: 10px;
}
.wrapper {
  justify-content: space-between;
  display: inline-block;
  
}
.content {
  color: #ffffff;
  font-size: normal, bold;
  text-align: justify;
  text-align: center;
  display: block;
  margin-top: -200px;
  margin-bottom: 40px;
  width: 60%;
  margin-left: 290px;
  
}
footer {
  color: #ffffff;
  margin: 5px;
  border: 5px solid #e95b11;
  padding: 5px;
  background-color: #e95b11;
  width: 100%;
  text-align: center;
  
}
h3 {
  padding: 5px;
  background-color: #bdbdbd;
  text-align: center;
}

.main {
  color: #000000;
  padding: 5px;
  background-color: #e3dddd;
 width: 15%;
  display: block;
  float: right;
  margin-top: -320px;
  margin-bottom: 40px;
}
.list {
  color: #e95b11;
  width: 15%;
  background-color: #7d0909;
  text-align: center;
  text-align: justify;
  text-decoration: underline;
  display: block;
  float: none;
}
.cover {
  border: 1px solid #333; /* Рамка */
  
  padding: 5px 15px; /* Поля */
  text-decoration: none; /* Убираем подчёркивание */
  color: #000; /* Цвет текста */
  background-color: #c6f700;
  
}
.cover:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Тень */
  background: linear-gradient(to bottom, #333, #c6f700); /* Градиент */
  color: #a00;
}

ul {
  color: #ffffff;
  border: 1px solid #000000;
  background-color: #000000;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 200px;
}
li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  margin-top: 30px;
}

